/*NOTAS_E_INFO*/

/*No utilizar imports en las fuentes de CSS, no son buenas practicas*/

/* Posicionamiento 
      --> static, absolute, relative, fixed,sticky */

/* Modelo de caja (Box model)
      --> margin, border, padding, content   */

/* Tipografía 
      --> tipos, tamaños de fuente, etc      */
/* Estilos visuales
      --> box-shadow, border-radius, gradient, etc */

/*Utilizaremos las variables de colores dentro del archivo ROOT*/
:root {
  /*Variables de color*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warn-black: #201e1c;
  --warn-black-secondary: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
  --greydouble: #757575;
  /*Variables de color*/

  /*Iconos de las cards cuatro en total, reloj, ojo, dollar, check*/
  --reloj: url("../assets/images/Vector_section_2_reloj_card_1.svg");
  --eye: url("../assets/images/Vector_section_2_eye_card_2.svg");
  --dollar: url("../assets/images/Vector_section_2_dollar_sign_card_3.svg");
  --checkmark: url("../assets/images/Vector_section_2_check_card_4.svg");
  /*Iconos de las cards cuatro en total, reloj, ojo, dollar, check*/
}

/* "*{}" Selector universar aterisco*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*La etiqueta html con un font-size: 62.5%;, para trabajar con rem en medidas de 10px*/
html {
  font-size: 62.5%;
  /*Reglas de estilos CSS de google fonts */
  font-family: "DM Sans", sans-serif;
  /*en la seccion 3 llevara la fuente Inter*/
  font-family: "Inter", sans-serif;
}
header {
  /* position: relative; puedo posicionar el elemento relativamente, donde quiera*/
  position: relative;
  /*Mostramos los elementos tanto uno al lado del otro en vertical como en horizontal, siempre tendra dimencion*/
  display: flex;
  /*Mostramos en columnas la propiedad flex*/
  flex-direction: column;
  /*Justificamos todo el contenido */
  justify-content: center;
  /*Ocupamos el 100% del ancho*/
  width: 100%;
  /*Ancho minimo*/
  min-width: 320px;
  /*Altura */
  height: 334px;
  /*Texto aliniado*/
  text-align: center;
  /*BackGroud-Header, 16.69% de negro, 100% de naranja*/
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

/*etiqueta de logo, img, utilizaremos especificidad*/
/* vamos a llamar la etiqueta dentro de header que en este caso es img*/
header img {
  /*Que tanto se aleja el elemento de derecha a izquierda*/
  width: 150px;
  /*que tanto se ealeja de abajo hacia arriba*/
  height: 24px;
  /*Que marguen tienen de arriba hacia abajo*/
  margin-top: 60px;
  /*Se utiliza para aliniar si nuestro parent, es display flex*/
  align-self: center;
}

.header--tittle-container {
  /*El porcentaje es proporcional a el with y el height*/
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

/* ************** NOTA ***************************/
/*-* Selector Specificity: (0, 1, 1) *-* lo cual indica que es mas especifico/
/*Para ser mas especificos se utilizara la etiqueta H1 dentro de la clase
 .header--tittle-container para que a futuro si implementamos librerias y demas
 frameworks que hagan uso specifico de la etiqueta H1, no tengamos conflitos en nuestro estilos */
.header--tittle-container h1 {
  /*Tamaño de la fuente seran 2.4Rem, lo cual en pixel es 24px 
  Esto se debe a que la etiqueta html la configuramos con un font-size de 62.5% 
  Lo cual 1.0 rem es equivalente a 10px 0.5 es la mitad 5px*/
  font-size: 2.4rem;
  /*La fuente sera mas gordita*/
  font-weight: bold;
  /*La altura de las lineas, o separacion de las lineas con altura*/
  line-height: 2.6rem;
  /*Desde nuestra custom properties, utilizamos el color de just-white, desde nuestras variables creadas
  fuente: figma*/
  color: var(--just-white);
}

/* Especificidad (0.1.1) para la etiqueta p */
.header--tittle-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

/* Usamos el contenedor div .header--tittle-container y usamos la etiqueta a boton .header--buttom  */
.header--tittle-container .header--buttom {
  /*Utilizaremos posicion adsoluta, podemos utilizar top-bottom, left,right,*/
  position: absolute;
  /*Realiza el calculo de posicion segun Left, right, top , bottom lo ajusta en porcentaje,
  si es muy grande se debe de redimencional ejemplo 50% - 118px */
  left: calc(50% - 118px);
  /*Alejamos el boton de la parte superior a 270px de el top */
  top: 270px;
  /*Muestra en bloque*/
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Parte del sombreado*/
  /*Agregamos sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  /*retiramos los bordes*/
  border: none;
  /*Agregamos borde al radio de 5px*/
  border-radius: 5px;
  /*Aumentamos la fuente a 1.4rem, a pixeles son 14px por 62.5% de la etiqueta html predefinida*/
  font-size: 1.4rem;
  /*Peso de la fuente, */
  font-weight: bold;
  /*retiramos la decoracion del texto*/
  text-decoration: none;
  /*Damos un color negro, de nuestros coloress en :root{}*/
  color: var(--warn-black-secondary);
}
/*Icono Flecha abajo, la etiqueta span, dentro de la etiqueta a clase .header--buttom*/
.header--buttom span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_abajo_black.svg");
}

/*Main_Section 1*/

/*Estilizamos main*/
main {
  width: 100%;
  /*Si se hace mas pequeño no sera menos de 320px*/
  min-width: 320px;
  /*Esta en auto por que el contenido define el la altura*/
  height: auto;
  background-color: var(--off-white);
}
/*Estilizamos La Section*/
/**/
.main_section_1 {
  width: 100%;
  height: auto;
  /*El contendido se aleja hacia abajo*/
  padding-top: 80px;
  /*Se le aumenta el relleno de abajo por 30px*/
  padding-bottom: 30px;
  /*Se alinea el texto al centro*/
  text-align: center;
}

/*Contenedor de titulos H1 y p*/
.main_section_1 .main_section_1--titulo {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
/*Background Imagen*/
.main_section_1 .background__img {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  /*Separamos la imagen de la etiqueta h2*/
  margin-bottom: 50px;
  background-image: url("../assets/images/bitcoin_image_section_2.svg");
  /*La imagen tratara de cubrir todo el espacio*/
  background-size: cover;
  background-position: center;
  /*En caso de hacerce mas grande la imagen no se duplicara intentando rellenar el espacio*/
  background-repeat: no-repeat;
}

.main_section_1 h2 {
  /*Separamos el h2 de la imagen*/
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main_section_1 p {
  /*Separamos el parrafo de la etiqueta h2*/
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  /*Este color no esta en las custom variables, por que solo se utilizara para este estilo*/
  color: var(--greydouble);
}

/*Agregando los estilos a las tablas */
.main_section_1--main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  /*No aplica margen de arriba a abajo y de isquierda a derecha calcula el margin que tiene  que colocar*/
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
/*Titulo de la tabla monedas*/
.main_section_1--main-currency-table
  .main_section_1--main-currency-table--titulo {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

/*Estilando la tabla*/

.main_section_1--currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main_section_1--currency-table--container table {
  width: 100%;
  height: 100%;
}

/*Estilando los datos de tabla td*/
.main_section_1--currency-table--container td {
  /*Separamos las tablas*/
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  /*Color de fondo blanco*/
  background-color: var(--just-white);
}

/*Lado isquierdo-ARRIBA*/
/*Redondiar las essquinas de las tablas*/
.main_section_1--currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
/*Lado derecho-ARRIBA*/
.main_section_1--currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
/*abajo-ISQUIERDO*/
.main_section_1--currency-table--container .table__buttom-left {
  border-radius: 0 0 0 15px;
}
/*abajo-DERECHO*/
.main_section_1--currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}
/*Estilizamnos los precios*/
/*Primer precio-Estilos-A la derecha*/
.main_section_1--currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7rem;
  color: var(--greydouble);
}

/*Estilisamos las fechas al lado de los span de esta manera */
.main_section_1--currency-table--container .signo_flecha_abajo {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_abajo_naranja.svg");
  background-size: cover;
}

.main_section_1--currency-table--container .signo_arriba_verde {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_arriba_verde.svg");
  background-size: cover;
}

.main_section_1--currency-table--container .signo_flecha_abajo_abajo_verde {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_abajo_naranja.svg");
  background-size: cover;
}

.main_section_1--currency-table--container
  .signo_flecha_abajo_abajo_abajo_verde {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_abajo_naranja.svg");
  background-size: cover;
}
/*Estilamos el contenedor*/
.main_section_1--currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.main_section_1--currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/*Section 2*/
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warn-black);
}

.main-product-detail .product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("../assets/images/Vector_section_3_batatabit_logo.svg");
}

.main-product-detail .product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.main-product-detail .product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-product-detail .product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
/**************************************/
/*Tarjetas de productos cards */

/*Card One*/
.product-cards--container_card_one {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card_card_one .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: var(--reloj);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title__card_one {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card-body__card_one {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/*Card Two*/

.product-cards--container_card_two {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card_card_two .eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: var(--eye);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title__card_two {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card-body__card_two {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
/*Card Threee*/

.product-cards--container_card_three {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card_card_three .dollar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: var(--dollar);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title___card_three {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card-body___card_three {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/*Card Four*/
.product-cards--container_card_four {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card_card_four .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: var(--checkmark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title__card_four {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product--card-body___card_four {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/*Section 3*/
/*Esto es una seccion comodin*/

.bitcoin-img-contenedor {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../assets/images/imagen_section_3_comodin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-contenedor .bitcoin-img-contenedor--titulo {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

/*Section 4*/
/*Planes y demas*/
