/*NOTAS_E_INFO*/

/*No utilizar imports en las fuentes de CSS, no son buenas practicas*/

/* Posicionamiento 
      --> static, absolute, relative, fixed,sticky */

/* Modelo de caja (Box model)
      --> margin, border, padding, content   */

/* Tipografía 
      --> tipos, tamaños de fuente, etc      */
/* Estilos visuales
      --> box-shadow, border-radius, gradient, etc */

/*Utilizaremos las variables de colores dentro del archivo ROOT*/
:root {
  /*Variables de color*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warn-black: #201e1c;
  --warn-black-secondary: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

/* "*{}" Selector universar aterisco*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*La etiqueta html con un font-size: 62.5%;, para trabajar con rem en medidas de 10px*/
html {
  font-size: 62.5%;
  /*Reglas de estilos CSS de google fonts */
  font-family: "DM Sans", sans-serif;
  /*en la seccion 3 llevara la fuente Inter*/
  /*font-family: "Inter", sans-serif;*/
}
header {
  /* position: relative; puedo posicionar el elemento relativamente, donde quiera*/
  position: relative;
  /*Mostramos los elementos tanto uno al lado del otro en vertical como en horizontal, siempre tendra dimencion*/
  display: flex;
  /*Mostramos en columnas la propiedad flex*/
  flex-direction: column;
  /*Justificamos todo el contenido */
  justify-content: center;
  /*Ocupamos el 100% del ancho*/
  width: 100%;
  /*Ancho minimo*/
  min-width: 320px;
  /*Altura */
  height: 334px;
  /*Texto aliniado*/
  text-align: center;
  /*BackGroud-Header, 16.69% de negro, 100% de naranja*/
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

/*etiqueta de logo, img, utilizaremos especificidad*/
/* vamos a llamar la etiqueta dentro de header que en este caso es img*/
header img {
  /*Que tanto se aleja el elemento de derecha a izquierda*/
  width: 150px;
  /*que tanto se ealeja de abajo hacia arriba*/
  height: 24px;
  /*Que marguen tienen de arriba hacia abajo*/
  margin-top: 60px;
  /*Se utiliza para aliniar si nuestro parent, es display flex*/
  align-self: center;
}

.header--tittle-container {
  /*El porcentaje es proporcional a el with y el height*/
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

/* ************** NOTA ***************************/
/*-* Selector Specificity: (0, 1, 1) *-* lo cual indica que es mas especifico/
/*Para ser mas especificos se utilizara la etiqueta H1 dentro de la clase
 .header--tittle-container para que a futuro si implementamos librerias y demas
 frameworks que hagan uso specifico de la etiqueta H1, no tengamos conflitos en nuestro estilos */
.header--tittle-container h1 {
  /*Tamaño de la fuente seran 2.4Rem, lo cual en pixel es 24px 
  Esto se debe a que la etiqueta html la configuramos con un font-size de 62.5% 
  Lo cual 1.0 rem es equivalente a 10px 0.5 es la mitad 5px*/
  font-size: 2.4rem;
  /*La fuente sera mas gordita*/
  font-weight: bold;
  /*La altura de las lineas, o separacion de las lineas con altura*/
  line-height: 2.6rem;
  /*Desde nuestra custom properties, utilizamos el color de just-white, desde nuestras variables creadas
  fuente: figma*/
  color: var(--just-white);
}

/* Especificidad (0.1.1) para la etiqueta p */
.header--tittle-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

/* Usamos el contenedor div .header--tittle-container y usamos la etiqueta a boton .header--buttom  */
.header--tittle-container .header--buttom {
  /*Utilizaremos posicion adsoluta, podemos utilizar top-bottom, left,right,*/
  position: absolute;
  /*Realiza el calculo de posicion segun Left, right, top , bottom lo ajusta en porcentaje,
  si es muy grande se debe de redimencional ejemplo 50% - 118px */
  left: calc(50% - 118px);
  /*Alejamos el boton de la parte superior a 270px de el top */
  top: 270px;
  /*Muestra en bloque*/
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Parte del sombreado*/
  /*Agregamos sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  /*retiramos los bordes*/
  border: none;
  /*Agregamos borde al radio de 5px*/
  border-radius: 5px;
  /*Aumentamos la fuente a 1.4rem, a pixeles son 14px por 62.5% de la etiqueta html predefinida*/
  font-size: 1.4rem;
  /*Peso de la fuente, */
  font-weight: bold;
  /*retiramos la decoracion del texto*/
  text-decoration: none;
  /*Damos un color negro, de nuestros coloress en :root{}*/
  color: var(--warn-black-secondary);
}
/*Icono Flecha abajo, la etiqueta span, dentro de la etiqueta a clase .header--buttom*/
.header--buttom span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/images/Vector_section_2_flecha_abajo_black.svg");
}

/*Main_Section 1*/

/*Estilizamos main*/
main {
  width: 100%;
  /*Si se hace mas pequeño no sera menos de 320px*/
  min-width: 320px;
  /*Esta en auto por que el contenido define el la altura*/
  height: auto;
  background-color: var(--off-white);
}
/*Estilizamos La Section*/
/**/
.main_section_1 {
  width: 100%;
  height: auto;
  /*El contendido se aleja hacia abajo*/
  padding-top: 80px;
  /*Se le aumenta el relleno de abajo por 30px*/
  padding-bottom: 30px;
  /*Se alinea el texto al centro*/
  text-align: center;
}

/*Contenedor de titulos H1 y p*/
.main_section_1 .main_section_1--titulo {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
/*Background Imagen*/
.main_section_1 .background__img {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  /*Separamos la imagen de la etiqueta h2*/
  margin-bottom: 50px;
  background-image: url("../assets/images/bitcoin_image_section_2.svg");
  /*La imagen tratara de cubrir todo el espacio*/
  background-size: cover;
  background-position: center;
  /*En caso de hacerce mas grande la imagen no se duplicara intentando rellenar el espacio*/
  background-repeat: no-repeat;
}

.main_section_1 h2 {
  /*Separamos el h2 de la imagen*/
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main_section_1 p {
  /*Separamos el parrafo de la etiqueta h2*/
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
